/* reset css */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
ul, ol {
  padding: 0 1rem;
}
#root, #__next {
  isolation: isolate;
} 

/* fonts */
@font-face {
  font-family: "Young Serif";
  src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
  font-family: "Outfit";
  src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

/* css variables */
:root {
    /* Colors */
  --primary-nutmeg: hsl(14, 45%, 36%);
  --primary-dark-raspberry: hsl(332, 51%, 32%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-rose-white: hsl(330, 100%, 98%);
  --neutral-eggshell: hsl(30, 54%, 90%);
  --neutral-light-grey: hsl(30, 18%, 87%);
  --neutral-wenge-brown: hsl(30, 10%, 34%);
  --neutral-dark-charcoal: hsl(24, 5%, 18%);

  /* Font Family */
  --font-family-young-serif: "Young Serif", serif;
  --font-family-outfit: "Outfit", sans-serif;

  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --font-weight-heavy: 700;
}
body {
  font-size: 1rem;
  font-family: var(--font-family-outfit);
  font-weight: var(--font-weight-regular);
  letter-spacing:normal;
  color: var(--neutral-wenge-brown);
}
h1, h2, h3, h4 {
  font-family: var(--font-family-young-serif);
  letter-spacing: .05rem;
  margin-bottom: 1.5rem;
}
h2, h3, h4 {
  color: var(--primary-nutmeg);
  font-size: 1.75rem;
  font-weight: 400;
}
li {
  padding-left: 1rem;
}
li::marker {
  color: var(--primary-nutmeg);
}
strong {
  color: var(--neutral-wenge-brown);
  font-weight: bold;
}
table {
  border-collapse: collapse;
  width: 100%;
}
.wrapper {
  display: grid;
  place-items: center;
  background-color: var(--neutral-eggshell);
}
.recipe-wrapper {
  max-width: 46rem;
  border-radius: .75rem;
  margin: 7.6rem 0;
  padding: 2.5rem;
  background-color: var(--neutral-white);
}
.recipe-image {
  margin-bottom: 2.5rem;
  border-radius: .75rem;
}
.recipe-title {
  font-size: 2.75rem;
  color: var(--neutral-dark-charcoal);
}
.recipe-prep-time{
  padding: 1.75rem;
  margin: 2rem 0;
  background-color: var(--neutral-rose-white);
}
.prep-time-tile {
  font-size: 1.50rem;
  color: var(--primary-dark-raspberry);
  margin-bottom: 1rem;
  font-weight: var(--font-weight-bold);
}
.recipe-instructions {
  border-top: 1px solid var(--neutral-light-grey);
  border-bottom: 1px solid var(--neutral-light-grey);
  margin: 2rem 0;
}
.recipe-instructions-title {
  margin-top: 2rem;
}
.recipe-instructions-list li:not(:last-child){
  margin-bottom: 0.5rem;
}
.recipe-instructions-list li:last-child {
  margin-bottom: 2rem;
}
.recipe-nutrition-table {
  margin-top: 1.5rem;
}
.recipe-nutrition-table tr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.75rem;
}
.recipe-nutrition-table tr:not(:last-child) {
  border-bottom: 1px solid var(--neutral-light-grey);
}
[data-cell="nutrient-amount"] {
  color: var(--primary-nutmeg);
  font-weight: var(--font-weight-heavy);
}
footer {
  background-color: var(--neutral-eggshell);
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/* media query */
@media (max-width: 500px) {
    .recipe-wrapper {
        margin: 0;
        border-radius: 0;
        padding: 0;
    }

    .recipe-img {
        border-radius: 0;
    }

    .recipe-container {
        padding: 0 1.75rem;
    }

    .recipe-title {
        font-size: 2.2rem;
    }
    footer {
      margin-top: 1.5rem;
     background-color: var(--neutral-white);
    }
}
